<!DOCTYPE html>
<html>
  <head>
    <title>Bookrep</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>BookRep.app is your friendly robotic book sales representative, giving you advance information sheets on demand.</p>
      <p>Very much work in progress: currently only creates a PDF when the <a href="https://demo.consonance.app">Consonance.app</a> demo site is switched on.</p>
      <a href="https://github.com/EmmaB/bookrep">Code on Github</a>
      <p>A <a href="https://www.sideprojectsummer.com/">#SideProjectSummer</a> app by <a href="https://twitter.com/has_many_books">@has_many_books</a></p>
    </footer>
  </body>
</html>
